@import url('https://fonts.googleapis.com/css?family=Inter:500');

h1, h2, h3, h4, h5, h6, p, li, div {
    font-family: 'Inter', sans-serif;
    color: #e8e8e8;
}

body {
    margin: 0;
    background-color: #030303;
}

header {
    background-color: #212121;
}

.actual-body {
    margin: 50px;
}

.center-children {
    display: grid;
    place-items: center;
}