/* KASKADIERENDE STIELBLÄDDER */
@import url('https://fonts.googleapis.com/css?family=Inter:400');

::selection {
	color: #000000;
	background: #ffffff;
}

input {
    background-color: #212121;
    outline: #e8e8e8;
    border-radius: 5px;
    color: #e8e8e8;
    font-size: 22pt;
    padding: 5pt;
}

h1, h2, h3, h4, h5, h6, p, li, div, a {
    font-family: 'Inter', sans-serif;
    color: #e8e8e8;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #030303;
}

.header {
    background-color: #212121;
}

.header .hoverable {
    transition-duration: 250ms;
}

.header .hoverable:hover {
    color: #838383;
    font-size: 25pt;
}

.actual-body {
    margin: 50px;
}

.center-children {
    display: grid;
    place-items: center;
}

.slider {
    appearance: none;
    width: 100%;
    height: 15px;
    background: #ffffff;
    outline: none;
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 200ms;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 27px;
    height: 27px;
    border-radius: 50%; 
    background: #0e93ff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: #0e93ff;
    cursor: pointer;
}

.text-button {
    cursor: pointer;
    transition-duration: 300ms;
}

.text-button.hover {
    color: #8e8e8e;
}

.text-button:hover {
    color: #8e8e8e;
}

.nav_box {
    display: flex;
    justify-content: space-between;
}

.nav_box * {
    color: #e8e8e8;
    margin: 10px;
    transition-duration: 200ms;
}

.nav_box *:hover {
    color: #00ffa1;
    transform: scale(1.2);
}

.nav_box h1 {
    margin: 0;
}

.nav_logo {
    margin-bottom: 0;
}
